h1, .h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.15;
  font-family: var(--font-druk);
}

h2, .h2 {
  font-weight: 700;
  font-size: 52px;
  line-height: 1.15;
  font-family: var(--font-druk);
}
