@use 'normalize.css';
@use './fonts.scss';
@use './base.scss';
@use './components/index.scss';
@use './utilities.scss';

:root {
  --color-black: #222222;
  --color-white: #FFFFFF;
  --color-primary: #E94601;
  --color-primary-hover: #D23F01;
  --color-accent: #FF540B;
  --color-body: #F0EFDB;
  --color-bg: #262626;
  --font-druk: 'druk', 'sans-serif';
  --font-unbounded: 'unbounded', 'sans-serif';
  --font-zekton: 'zekton', 'sans-serif';
}
